<?xml version="1.0" encoding="UTF-8"?>
<service id="google-buteo-contacts">
  <type>buteo-contacts</type>
  <name>Google Contacts</name>
  <provider>google</provider>
</service>
