Source: buteo-sync-plugins-contacts
Section: libs
Priority: optional
Maintainer: Renato Araujo Oliveira Filho <renato.filho@canonical.com>
Build-Depends: cdbs,
               cmake,
               debhelper (>= 9),
               pkg-config,
               qt5-default,
               qtbase5-dev,
               qtpim5-dev,
               buteo-syncfw-qt5-dev,
               libaccounts-qt5-dev,
               libsignon-qt5-dev,
               signon-plugin-oauth2-dev
Standards-Version: 3.9.5
Homepage: https://launchpad.net/address-book-app

Package: buteo-sync-plugins-contacts-google
Architecture: any
Conflicts: evolution-data-server-online-accounts
Provides: evolution-data-server-online-accounts
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Buteo google contact sync plugin
 Buteo google contact sync plugin
