Source: buteo-sync-plugins-contacts
Section: libs
Priority: optional
Maintainer: Renato Araujo Oliveira Filho <renato.filho@canonical.com>
Build-Depends: cmake,
               debhelper (>= 9),
               pkg-config,
               libaccounts-qt5-dev,
               libbuteosyncfw5-dev (>= 0.8.5),
               libsignon-qt5-dev,
               qt5-default,
               qtbase5-dev,
               qtpim5-dev,
               signon-plugin-oauth2-dev,
Standards-Version: 3.9.5
Homepage: https://launchpad.net/buteo-sync-plugins-contacts

Package: buteo-sync-plugins-contacts-google
Architecture: any
Conflicts: evolution-data-server-online-accounts,
           sync-monitor (<< 0.2),
Provides: evolution-data-server-online-accounts
Depends: ${misc:Depends},
         ${shlibs:Depends},
         buteo-syncfw,
Description: Buteo google contact sync plugin
 Buteo sync plugin for google contacts
